# Team Members
   Abhisekhar Bharadwaj Gandavarapu <br>
   Taylor Fisher<br>
   Ayan Gautam<br>

## Import Libraries and Read CSV File

In [2]:
# Import libraries

import pandas as pd

# read csv file
taxi_data = pd.read_csv('Taxi_Data.csv')
customer_data = pd.read_csv('Customer_ID.csv')
city_data = pd.read_csv('City.csv')
transaction_data = pd.read_csv('Transaction_ID.csv')

print(taxi_data.head())
print(customer_data.head())
print(city_data.head())
print(transaction_data.head())

   Transaction ID  Date of Travel   Company        City  \
0        10000011           42377  Pink Cab  ATLANTA GA
1        10000012           42375  Pink Cab  ATLANTA GA
2        10000013           42371  Pink Cab  ATLANTA GA
3        10000014           42376  Pink Cab  ATLANTA GA
4        10000015           42372  Pink Cab  ATLANTA GA

   Distance Travelled(KM)  Price Charged  Cost of Trip
0                   30.45         370.95       313.635
1                   28.62         358.52       334.854
2                    9.04         125.20        97.632
3                   33.17         377.40       351.602
4                    8.73         114.62        97.776
   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536
             City   Population      Users
0     NEW YORK NY   8,405,837    302,149
1      CHICAGO IL   1,955,130    164,468
2  LOS ANGELES CA   1,595,037    144,132
3        MIAMI FL   1,339,155     17,675
4  SILICON VALLEY   1,177,609     27,247
   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card

## Taylor's Section

## Abhi's Section

## Ayan's Section